/* FINAL PROJECT a4loop */

/* ------ Global Styles ----- */
* {
    margin:0;
    padding:0;
}

html,body {
    background-color: #eee;
    margin:0;
    padding:0;
    font: 10px;
}

/* Page Layout */
main.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow:auto;
}

/* Header */
header{
    background-color: rgba(51,51,51,1);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
    margin-bottom:0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: #9f9c9c;
}

.header-logo {
    padding-top: .15rem;
    padding-left: 1.5rem;

}
.header-logo > p {
    margin: 0;
    padding-top:.25rem;
    font-size: .75rem;
    text-align: center;
    color: rgba(125,9,166,1);
    /*color: rgb(5,67,10);*/
}

header>h1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
}

.logo {
    display:block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

h2 {
  text-align: center;
}
/* Footer */
footer {
    background-color: rgba(51,51,51,1);
    margin: 0;
    padding: 10px 25px;
    clear: both;
    color: #fff;
}

footer>.container {
    display: block;
    align-items: center;
    max-width: 100%;
    margin: 0;
    overflow:auto;
}

div.footer-lower {
    border-top: 1px solid rgba(133,133,133,1);
}

.footer-logo {
    width: 45%;
    float: left;
    padding-bottom: 5px;
} 

.social {
    width:55%;
    float: right;
    margin: 0;
}

.social>.column {
    float:right;
    width: 32px;
    line-height: 64px;
    white-space: nowrap;
    font-size: 20px;
}

.site-map {
    background-color: rgba(51,51,51,1);
    width: 80%;;
    float: left;
}

th, td {
    padding-right: 1rem;
    text-align: left;
}

footer a {
    color: rgb(126,176,15);
    text-decoration: none
}

footer a:hover {
    color: rgb(125,9,166);
}

.copyright {
    width: 80%;
    float: right;
    text-align: right;
}


/* ----- ASIDE ----- */
#aside {
  max-width: 15%;
}


/* ----- SECTIOM ----- */
#section {
  max-width: 75%;
}

#section h3 {
  text-align: center;

}