header{
  background-color: rgba(51,51,51,1);
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  color: #9f9c9c;
}

.header-logo {
  max-height: .5rem;
}

.navbar {
  background-color: rgba(51,51,51,1);
  padding: .5 2.5rem;
}

.navbar-brand {
  color: rgba(125,9,166,1)
}
.navbar-toggler {
  background-color: rgba(51,51,51,.5);
  border-color: rgb(126,176,15);
}
/* Set the border color */    
.custom-toggler.navbar-toggler {
  background-color: rgba(51,51,51,.5);
  border-color: rgb(126,176,15);
}
/* Setting the stroke */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: rgb(126,176,15);
  font-size: .8rem;
}

.nav-item a:hover {
  color: rgb(177, 107, 202);
}

.dropdown a:hover{
  color: rgb(177, 107, 202);
}
.dropdown-menu {
  background-color: transparent;
  color: rgb(126,176,15);
  max-width: 300%;
}
.dropdown-menu a:hover {
  background-color: rgba(51,51,51,1);
  color: rgb(177, 107, 202);
}
.dropdown-item {
  background-color: rgba(51,51,51,1);
  color: rgb(126,176,15);
  font-size: .8rem;
}
