/* ------ Global Styles ----- */
* {
  margin:0;
  padding:0;
  max-width: 100%;
}

html,body {
  margin:0;
  padding:0;
  background-color: #eee;
  font: 10px;
}


main, footer, header {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row > *{
  max-width: 80%;
}

footer>div, nav {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Header */
/* See nav.css */
.logo {
  display:block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

h2 {
text-align: center;
}
/* Footer */
footer {
  background-color: rgba(51,51,51,1);
  padding: 10px 25px;
  clear: both;
  color: #fff;
}

footer>.container {
  display: block;
  align-items: center;

  margin: 0;
  overflow:auto;
}

div.footer-lower {
  border-top: 1px solid rgba(133,133,133,1);
}

.footer-logo {
  width: 45%;
  float: left;
  padding-bottom: 5px;
} 

.social {
  width:55%;
  float: right;
  margin: 0;
}

.social>.column {
  float:right;
  width: 32px;
  line-height: 64px;
  white-space: nowrap;
  font-size: 20px;
}

.site-map {
  background-color: rgba(51,51,51,1);
  width: 80%;;
  float: left;
}

th, td {
  padding-right: 1rem;
  text-align: left;
}

footer a {
  color: rgb(126,176,15);
  text-decoration: none
}

footer a:hover {
  color: rgb(125,9,166);
}

.copyright {
  width: 80%;
  float: right;
  text-align: right;
}